.hero{
    background-image: url('/assets/src/img/banner.png');
    width: 100%;
    height: 100vw;
    background-repeat: no-repeat ;
}

.conteudo-hero #titulo-hero{
    width: 512px;
    height: 44px;
    padding-left: 123px;
    padding-top: 160px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 90px;
    color: #ECB074;

}

.conteudo-hero .texto-hero{
    width: 372px;
    height: 144px;
    padding-left: 123px ;
    padding-top: 50px;
    
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    
    color: #FFFFFF;
}

.conteudo-hero .botao-hero{
    margin-top: 24px;
    margin-left: 126px;

    background-color: #ECB074;
    width: 369.05px;
    height: 76px;
    border-radius: 20px;
    text-align: center;
    
}

.conteudo-hero .botao-hero p {
    padding: 7.5%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #523D2A;
}